body{

    
} 

h1{
    text-decoration: underline;
    text-align: center;

}

code, code ul, code ol, code input{ 
    display: inline-block;

    margin-left: 5%;
    margin-right: 5%;
    background-color: grey;
    border-style: solid;
}



