body{
    background-color: #e3e8ea;
    
} 

h1{
    text-decoration: underline;
    text-align: center;

}

h2, h3, h4, h4, h5, h6{
    text-decoration-line: underline overline;
}

code, code ul, code ol, code input{ 
    display: inline-block;

    margin-left: 5%;
    margin-right: 5%;
    background-color: #cce8b4;

    color: #04021e;
}



